<div class="about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'app.changePassword'|trans }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="login sign-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-5 well well-sm">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                <div class="form-group">
                    {{ form_row(form.current_password,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.first,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.second,{'attr':{'class':'form-control'}}) }}
                </div>
                <br />
                <br />
                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-warning"  id="js-subscribe-btn" formnovalidate/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

