<div class="about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'app.login'|trans }}</h1>
            </div>
        </div>
    </div>
</div>
<!--============================= Login =============================-->
<div class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div id="login-overlay" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well">
                                        <form action="{{ path("fos_user_security_check") }}" method="post">
                                            {% if csrf_token %}
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                            {% endif %}
                                            {% if error %}
                                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}
                                            <div class="form-group">
                                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                                <input  id="username"  type="text" class="form-control" name="_username" autocomplete="username" required="required" value="{{ last_username }} ">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                                <input type="password" id="password" name="_password" required="required" class="form-control" autocomplete="current-password">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="checkbox">
                                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                                            </div>
                                            <input type="submit" id="_submit js-subscribe-btn" name="_submit" value="{{ 'security.login.submit'|trans }}"  class="btn btn-warning" formnovalidate />

                                            <a style="float: right" href="{{ path('fos_user_resetting_request') }}">Forgot your Password?&nbsp</a>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//End Login -->
