<div class="about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'app.profile.edit'|trans }}</h1>
            </div>
        </div>
    </div>
</div>
<style>
    img {
        border-radius: 50%;
    }
</style>
<div class="login sign-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-5 well well-sm">
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                        <div class="row  about " >
                            <div class="col-md-12">
                                {% if app.user.image is not null %}
                                     <img src="{{asset("uploads/images/profile/"~app.user.image)}}" class="img-fluid about-img" alt="#">
                                {% else %}
                                    <img src="{{asset("uploads/images/profile/download.jpeg")}}" class="img-fluid about-img" alt="#">
                                {% endif %}
                                {{ form_row(form.imageFile) }}
                            </div>
                        </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            {{ form_row(form.firstname) }}
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            {{ form_row(form.lastname) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>
                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    {{ form_widget(form.username) }}
                </div>
                <div class="row">
                    <div class="col-xs-9 col-md-9">
                        <div class="form-group">
                            {{ form_row(form.street) }}
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <div class="form-group">
                            {{ form_row(form.houseNumber) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-md-3">
                        <div class="form-group">
                            {{ form_row(form.plz) }}
                        </div>
                    </div>
                    <div class="col-xs-9 col-md-9">
                        <div class="form-group">
                            {{ form_row(form.city) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-md-5">
                        <div class="form-group">
                            {{ form_row(form.birthDay) }}
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-7">
                        <div class="form-group">
                            {{ form_row(form.phoneNumber) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(form.gender) }}
                </div>
                <br />
                <br />
                <input type="submit" class="btn btn-warning" value="{{ 'profile.edit.submit'|trans }}"  id="js-subscribe-btn" formnovalidate/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>