{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
<div class="about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'app.password.reset'|trans }}</h1>
            </div>
        </div>
    </div>
</div>
<section class="clearfix about about-style2">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
