<div class="about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'app.password.reset'|trans }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div id="login-overlay" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well">
                                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                                            <div>
                                            </div>
                                            <div class="form-group">
                                                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                                                <input type="text" id="username" name="username" required="required" class="form-control" />
                                                <span class="help-block"></span>
                                            </div>
                                            <div>
                                                <input type="submit" id="_submit js-subscribe-btn" name="_submit" value="{{ 'resetting.request.submit'|trans }}"  class="btn btn-warning" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

