<div class="about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'app.password.reset'|trans }}</h1>
            </div>
        </div>
    </div>
</div>
    <div>
    </div>
<div class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div id="login-overlay" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well">
                                        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                                            <div class="form-group">
                                                {{ form_row(form.plainPassword.first,{'attr':{'class':'form-control'}}) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_row(form.plainPassword.second,{'attr':{'class':'form-control'}}) }}
                                            </div>
                                            <br />
                                            <br />
                                            <div>
                                                <input type="submit" id="_submit js-subscribe-btn" name="_submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-warning" />
                                            </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>