/* ==============================================================
   GLOBAL STYLES
   ============================================================== */
html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased; }

body {
    font-family: "Playfair", serif; }

h1 {
    font-size: 46px; }

h2 {
    font-size: 29px; }

h3 {
    font-size: 20px; }

h4 {
    font-size: 16px; }

p {
    font-size: 13px; }

a {
    color: #cbb58b;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
a:hover {
    text-decoration: none;
    color: #2d2d2d; }

.btn {
    font-family: "Playfair", serif;
    cursor: pointer; }