{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    <div class="about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'app.signup'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="clearfix about about-style2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                </div>
            </div>
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        </div>
    </section>
{% endblock %}