<link href="{{ asset('css/datepicker.min.css') }}" rel="stylesheet" type="text/css">

<div class="about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'app.signup'|trans }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="login sign-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-5 well well-sm">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            {{ form_row(form.firstname) }}
                            {{ form_errors(form.firstname) }}
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            {{ form_row(form.lastname) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>
                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    {{ form_row(form.username) }}
                </div>
                <div class="row">
                    <div class="col-xs-9 col-md-9">
                        <div class="form-group">
                            {{ form_row(form.street) }}
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <div class="form-group">
                            {{ form_row(form.houseNumber) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-md-3">
                        <div class="form-group">
                            {{ form_row(form.plz) }}
                        </div>
                    </div>
                    <div class="col-xs-9 col-md-9">
                        <div class="form-group">
                            {{ form_row(form.city) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-md-5">
                        <div class="form-group date_picker"  >
                            {{ form_row(form.birthDay) }}
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-7">
                        <div class="form-group">
                            {{ form_row(form.phoneNumber) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(form.gender) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.imageFile) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword) }}
                </div>
                <div>
                    <p>
                        By clicking <u>{{ 'registration.submit'|trans }}</u>, you agree to our Terms. Learn how we collect, use and share your data in our <a data-toggle="modal" href="#dataPrivacy">Data Policy</a>.
                    </p>
                </div>
                <br/>
                <br/>
                <input type="submit" class="btn btn-warning" value="{{ 'registration.submit'|trans }} "
                       id="js-subscribe-btn" formnovalidate/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dataPrivacy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Datenschutzerklärung</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

               <p> Wir freuen uns über Ihre Anmeldung. Der Schutz Ihrer Privatsphäre ist für uns sehr wichtig. Die rechtlichen Grundlagen des Datenschutzes finden sich in der Datenschutz-Grundverordnung (DS-VO), im Bundesdatenschutzgesetz (BDSG) und im Telemediengesetz (TMG). Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person bestimmbar ist, also Angaben, die zurück zu einer Person verfolgt werden können. Dazu gehören beispielsweise der Name, die E-Mail-Adresse oder die Telefonnummer. Nachstehend informieren wir Sie ausführlich über den Umfang mit Ihren Daten durch die Sprachschule Shalaan. Personenbezogene Daten werden von der Sprachschule T.S.L. Shalaan nur dann erhoben, genutzt und weitergegeben, wenn dies gesetzlich erlaubt ist oder die Nutzer in die Datenerhebung einwilligen.</p>

                <p><b> 1. Datenerhebung/-verwendung zur Vertragsabwicklung bei Anmeldung zu einem Kurs</b></p>

                <p> Gemäß Art. 6 Abs. 1 lit. b DS-GVO erheben wir personenbezogene Daten, wenn Sie uns diese im Rahmen einer Kursanmeldung freiwillig mitteilen, soweit diese Daten für den vorgenannten Zweck erforderlich sind. Welche Daten erhoben werden, ist aus dem Anmeldeformular ersichtlich. Wir verwenden die von Ihnen mitgeteilten Daten zur Vertragsabwicklung und der damit einhergehenden Kundenbetreuung. Nach vollständiger Abwicklung des Vertrages werden Ihre Daten für die weitere Verwendung gesperrt bzw. deren Verarbeitung eingeschränkt und nach Ablauf der steuer- und handelsrechtlichen Aufbewahrungsfristen gelöscht, sofern Sie nicht ausdrücklich in eine weitere Nutzung Ihrer Daten eingewilligt haben oder wir uns eine darüber hinausgehende Datenverwendung vorbehalten, die gesetzlich erlaubt ist und über die wir Sie nachstehend informieren (s. Punkt Datenweitergabe zur Vertragserfüllung).</p>

                <p><b>2. Datenweitergabe zur Vertragserfüllung</b></p>

                <p>Zur Vertragserfüllung gibt die Sprachschule T.S.L. Shalaan nach Anmeldung Ihre Daten an die Zentrale der Sprachschule Shalaan weiter, soweit dies zur Durchführung des Vertrages erforderlich ist. Soweit es nötig ist, werden ihre Daten auch an die von uns beauftragten Korrekturassistenten weitergegeben. Ebenso gibt die Sprachschule Shalaan Ihre Daten an das mit einer Lieferung beauftragte Versandunternehmen weiter, soweit dies zur Lieferung von Unterlagen oder Skripten erforderlich ist. Im Rahmen der Durchführung dieses Vertrages geben wir die zur Zahlung der Kursgebühr erforderlichen Bankdaten an das mit dem Lastschrifteinzug von uns beauftragte Kreditinstitut weiter. Rechnungsgrundlage hierfür ist Art. 6 Abs. 1 S. 1 lit. b DS-GVO.</p>

                <p><b>3. Rechte des Betroffenen</b></p>

                <p>Sie haben ein Recht auf unentgeltliche Auskunft über die bei der Sprachschule Shalaan zu Ihrer Person gespeicherten Daten (Art. 15 DS-GVO), sowie ggf. ein Recht auf Berichtigung (Art. 16 DS-GVO) bzw. Löschung dieser Daten (Art. 17 DS-GVO), auf Einschränkung der Verarbeitung (Art. 18 DS-GVO), auf Unterrichtung (Art. 19 DS-GVO), auf Datenübertragbarkeit (Art. 20 DS-GVO), auf Widerruf

                erteilter Einwilligungen (Art. 7 Abs. 3 DS-GVO) und auf Beschwerde (Art. 77 DS-GVO), sowie ein Widerspruchsrecht (Art. 21 DS GVO)-</p>

                <p><b>4. Kontaktmöglichkeit</b></p>

                <p> Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten, bei Auskünften, Berichtigung oder Löschung von Daten, zur Einschränkung der Verarbeitung, zur Unterrichtung, zur Datenübertragbarkeit, sowie zum Widerruf erteilter Einwilligungen oder Widerspruch gegen eine bestimmte Datenverwendung wenden Sie sich bitte an den für die Datenerhebung und –verarbeitung Verantwortlichen: Sprachschule T.S.L. Lawrence Shalaan, Metzinger Str. 5/1, 73230 Kirchheim unter Teck.</p>
            </div>
            <div class="modal-footer">
                {#<input type="submit" class="btn btn-warning" value="{{ 'registration.submit'|trans }}">#}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('js/datepicker.min.js') }}"></script>
<script src="{{ asset('js/datepicker.en.js') }}"></script>
