{% extends 'base.html.twig' %}
{% block body %}
    <div class="about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'app.services'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>
    <!--============================= Services list =============================-->
    <div class="notice">
        <div class="container">
            <div class="row">
                {% for service in services  %}
                    <div class="col-md-12">
                        <div class="event_date">
                            <div class="event-date-wrap">
                                {{ loop.index }}
                            </div>
                        </div>
                        <div class="date-description">
                            <h3>{{ service.name }}</h3>
                            <p>{{ service.description }}</p>
                            <hr class="event_line">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--//End Services list -->
{% endblock %}