{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <div class="slider_img layout_two">

            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for slider in sliders %}
                    <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner" role="listbox">
                    {% for slider in sliders %}
                    <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %} ">
                        <img class="d-block" src="{{asset("uploads/images/slider/"~slider.image)}}" alt="First slide">
                        <div class="carousel-caption d-md-block">
                            <div class="slider_title">
                                <h1>{{ slider.title }}</h1>
                                <h4>{{ slider.content|raw }}</h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <i class="icon-arrow-left fa-slider" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <i class="icon-arrow-right fa-slider" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!--============================= ABOUT =============================-->
    {% if welcomeMessage is not empty %}
    <section class="clearfix about about-style2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>{{ welcomeMessage.title }}</h2>
                    <p>{{ welcomeMessage.message }}</p>
                    <img src="images/welcom_sign.png" class="img-fluid" alt="welcom-img">
                </div>
                <div class="col-md-4">
                    <img src="images/campus/campus-img_05.jpg" class="img-fluid about-img" alt="#">
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!--============================= OUR COURSES =============================-->
    <section class="our_courses">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ 'app.courses'|trans }}</h2>
                </div>
            </div>
            <div class="row">
            {% for course in courses %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="courses_box mb-4">
                        <div class="course-img-wrap">
                            <img src="images/courses_1.jpg" class="img-fluid" alt="courses-img">
                            <div class="courses_box-img">
                                <div class="courses-link-wrap">
                                    <a href="{{ path('course_show',{'id':course.id}) }}" class="course-link"><span>{{ "course.details"|trans }}</span></a>
                                    {#<a href="admission-form.html" class="course-link"><span>Join today </span></a>#}
                                </div>
                                <!-- // end .courses-link-wrap -->
                            </div>
                        </div>
                        <!-- // end .course-img-wrap -->
                        <div class="courses_icon">
                            <img src="{{ asset('images/plus-icon.png') }}" class="img-fluid close-icon" alt="plus-icon">
                        </div>
                        <a href="{{ path('course_show',{'id':course.id}) }}" class="course-box-content">
                            <h3>{{ course.title }}</h3>
                            <p>{{ course.description|length > 50 ? course.description|slice(0, 50) ~ '...' : course.description  }}
                            </p>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{{ path('courses_index') }}" class="btn btn-default btn-courses">{{ 'app.course.index'|trans }}</a>
                </div>
            </div>
        </div>
    </section>
    <!--//END OUR COURSES -->
{% endblock %}