{% extends 'base.html.twig' %}
{% block body %}
    <div class="about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'app.about'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>
<!--============================= WELCOME TITLE =============================-->
    {% if whoWeAre is not empty %}
        <section class="welcome_about">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>{{ whoWeAre.title }}</h2>
                        <p>{{ whoWeAre.message | raw }}</p>
                        <a href="{{ path('courses_index') }}" class="btn btn-default btn-about">{{ 'app.course.index'|trans }}</a>
                    </div>
                    <div class="col-md-5">
                        <img src="{{asset("uploads/images/all/"~whoWeAre.image)}}" class="img-fluid" alt="#">
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
<!--//END WELCOME TITLE -->
<!--============================= TESTIMONIAL =============================-->
<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ 'app.feedBacks'|trans }}</h2>
            </div>
            <div class="col-md-12">
                <div class="single-item">
                    {% for feedBack in feedBacks %}
                    <div class="quote">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <p class="quote_text">{{ feedBack.message }}</p>
                        <div class="testi-img_block">
                            <p><span>{{ feedBack.studentName }}</span> Top rank holder</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END TESTIMONIAL -->
<!--============================= DETAILED CHART =============================-->
<div class="detailed_chart">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 chart_bottom">
                <div class="chart-img">
                    <img src="images/chart-icon_1.png" class="img-fluid" alt="chart_icon">
                </div>
                <div class="chart-text">
                    <p><span class="counter">{{ teachers| length }}</span> Teachers
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 chart_bottom chart_top">
                <div class="chart-img">
                    <img src="images/chart-icon_2.png" class="img-fluid" alt="chart_icon">
                </div>
                <div class="chart-text">
                    <p><span class="counter">{{ users|length }}</span> Students
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 chart_top">
                <div class="chart-img">
                    <img src="images/chart-icon_3.png" class="img-fluid" alt="chart_icon">
                </div>
                <div class="chart-text">
                    <p><span class="counter">{{ courses|length }}</span> Courses
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="chart-img">
                    <img src="images/chart-icon_4.png" class="img-fluid" alt="chart_icon">
                </div>
                <div class="chart-text">
                    <p><span class="counter">10</span> Years Exp.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//END DETAILED CHART -->
<!--============================= OUR TEACHERS =============================-->
<section class="our-teachers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ 'app.teachers'|trans }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                {% for teacher in teachers %}
                <div class="our-teachers-block">
                    {% if teacher.image is not null %}
                        <img src="{{asset("uploads/images/profile/"~teacher.image)}}" class="img-fluid teachers-img" alt="#">
                    {% else %}
                        <img src="{{asset("uploads/images/profile/download.jpeg")}}" class="img-fluid teachers-img" alt="#">
                    {% endif %}
                    <div class="teachers-description">
                        <p><strong>{{ teacher.firstName }} {{ teacher.lastName }}</strong>
                            <br> {% for certificate in teacher.certificates %}{{ certificate }},{% endfor %}
                        </p>
                        <hr />
                        <p>Syllabus : <span>{% for syllabu in teacher.syllabus %}{{ syllabu }},{% endfor %}</span></p>
                        <div class="social-icons">
                            <ul>
                                {% if teacher.facebook is not null %}
                                    <li><a href="{{ teacher.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                {% endif %}
                                {% if teacher.twitter is not null %}
                                    <li><a href="{{ teacher.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                {% endif %}
                                {% if teacher.linkedIn is not null %}
                                    <li><a href="{{ teacher.linkedIn }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- End row -->
    </div>
</section>
<!--//END OUR TEACHERS -->
<!--============================= Instagram Feed =============================-->
<div id="instafeed"></div>
<!--//END Instagram feed JS -->

{% endblock body %}