<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ companyData.getCompanyData.name }}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <!-- Simple Line Font -->
        <link rel="stylesheet" href="{{ asset('css/simple-line-icons.css') }}">
        <!-- Slider / Carousel -->
        <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('css/slick-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
        <!-- Main CSS -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap-material-datetimepicker.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    {% endblock head_stylesheets %}

    {% block head_javascripts %}
        <!-- jQuery, Bootstrap JS. -->
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>
        <script src="{{ asset('js/tether.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- Plugins -->
        <script src="{{ asset('js/moment.js') }}"></script>
        <script src="{{ asset('js/bootstrap-material-datetimepicker.js') }}"></script>
        <script src="{{ asset('js/slick.min.js') }}"></script>
        <script src="{{ asset('js/waypoints.min.js') }}"></script>
        <script src="{{ asset('js/counterup.min.js') }}"></script>
        <script src="{{ asset('js/instafeed.min.js') }}"></script>
        <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('js/validate.js') }}"></script>
        <script src="{{ asset('js/tweetie.min.js') }}"></script>
        <!-- Subscribe -->
        <script src="{{ asset('js/subscribe.js') }}"></script>
        <!-- Script JS -->
        <script src="{{ asset('js/script.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
    {% endblock head_javascripts %}

</head>
<body class="is-preload landing">
    <div class="header-topbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-8 col-md-9">
                    <div class="header-top_address">
                        <div class="header-top_list">
                            <span class="icon-phone"></span>+{{ companyData.getCompanyData.phoneNumber }}
                        </div>
                        <div class="header-top_list">
                            <span class="icon-envelope-open"></span>{{ companyData.getCompanyData.email }}
                        </div>
                        <div class="header-top_list">
                            <span class="icon-location-pin"></span>{{ companyData.getCompanyData.street }} {{ companyData.getCompanyData.houseNumber }}, {{ companyData.getCompanyData.plz }} {{ companyData.getCompanyData.city }}
                        </div>
                    </div>
                    <div class="header-top_login2">
                        {% if app.user is empty %}
                            <a href="{{ path('fos_user_security_login') }}">Login </a>/
                            <a href="{{ path('fos_user_registration_register') }}"> Sign Up </a>
                        {%  endif %}
                        {%  if app.user is not empty  %}
                            <a href=" {{ path('fos_user_security_logout') }}">Log Out</a>
                        {%  endif %}
                        {%  if app.user is not empty and 'ROLE_ADMIN' in app.user.roles  %}
                            <a href=" {{ path('admin') }}">admin</a>
                        {%  endif %}
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="header-top_login mr-sm-3">
                        {% if app.user is empty %}
                            <a href="{{ path('fos_user_security_login') }}">Login </a>/
                            <a href="{{ path('fos_user_registration_register') }}"> Sign Up </a>
                        {%  endif %}
                        {%  if app.user is not empty  %}
                             <a href=" {{ path('fos_user_security_logout') }}">Log Out</a>
                        {%  endif %}
                        {%  if app.user is not empty and 'ROLE_ADMIN' in app.user.roles  %}
                            <a href=" {{ path('admin') }}">/ admin</a>
                        {%  endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-toggle="affix">
        <div class="container nav-menu2">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar2 navbar-toggleable-md navbar-light bg-faded">
                        <button class="navbar-toggler navbar-toggler2 navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                            <span class="icon-menu"></span>
                        </button>
                        <a href="{{ path('homepage') }}" class="navbar-brand nav-brand2"><h2><b>{{ companyData.getCompanyData.name }}</b></h2></a>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('courses_index') }}">{{ 'app.courses'|trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('services') }}">{{ 'app.services'|trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('about_us') }}">{{ 'app.about'|trans }}<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                                </li>
                                {%  if app.user is not empty  %}
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                                        Profile<span class="glyphicon glyphicon-chevron-down pull-right"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">{{ "app.profile.edit"|trans }}</a></li>
                                        <li><a class="dropdown-item" href="{{ path('fos_user_change_password') }}">{{ "app.changePassword"|trans }}</a></li>
                                        <li><a class="dropdown-item" href="{{ path('user_bank_data') }}">{{ "user.bank.data"|trans }}</a></li>
                                        {% if app.user.isTeacher == true  %}
                                        <li><a class="dropdown-item" href="{{ path('user_teacher_data') }}">{{ "user.teacher.data"|trans }}</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% block body %}

    {% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="foot-logo">
                        <a href="{{ path('homepage') }}">
                            <img src="{{asset("uploads/images/all/"~companyData.getCompanyData.image)}}" class="img-fluid" alt="footer_logo"></a>
                        <p>2018 © copyright
                            <br> All rights reserved.</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="sitemap">
                        <h3>Navigation</h3>
                        <ul>
                            <li><a href="{{ path('about_us') }}">{{ 'app.about'|trans }}</a></li>
                            <li><a href="{{ path('company_training') }}">{{ 'app.company.training'|trans }}</a></li>
                            <li><a href="{{ path('research') }}">{{ 'app.research'|trans }}</a></li>
                            <li><a href="{{ path('contact') }}">{{ ''|trans }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="address">
                        <h3>Contact us</h3>
                        <p><span>{{ 'app.adress'|trans }}: </span>
                            <br>
                        {{ companyData.getCompanyData.street }} {{ companyData.getCompanyData.houseNumber }},<br>
                        {{ companyData.getCompanyData.plz }} {{ companyData.getCompanyData.city }} </p>
                        <p>{{ 'app.email'|trans }} : <a href="mailto:{{ companyData.getCompanyData.email }}" >{{ companyData.getCompanyData.email }}</a>
                            <br> {{ 'app.telepghon'|trans }} : +{{ companyData.getCompanyData.phoneNumber }}</p>
                        <ul class="footer-social-icons">
                            {% if  companyData.getCompanyData.facebook is not empty %}
                                <li><a href="{{ companyData.getCompanyData.facebook }}"><i class="fa fa-facebook fa-fb" aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% if  companyData.getCompanyData.twitter is not empty %}
                                <li><a href="{{ companyData.getCompanyData.twitter }}"><i class="fa fa-linkedin fa-in" aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% if  companyData.getCompanyData.instagram is not empty %}
                                <li><a href="{{ companyData.getCompanyData.instagram }}"><i class="fa fa-twitter fa-tw" aria-hidden="true"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="flash-messages">
        {% block flash_messages %}
            {% if app.session is not null and app.session.started %}
                {% include 'flashMessages.html.twig' %}
            {% endif %}
        {% endblock flash_messages %}
    </div>
</body>
</html>
