{% extends 'base.html.twig' %}
{% block body %}
    <div class="about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'app.contact'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-title">
                        <h2>{{ 'contact.page.title'|trans }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 contact-option">
                                <div class="contact-option_rsp">
                                    <h3>{{ 'contact.message.form.title'|trans }}</h3>
                                        {{ form_start(form) }}
                                        <div class="form-group">
                                            {{ form_row(form.name) }}
                                        </div>
                                        <!-- // end .form-group -->
                                        <div class="form-group">
                                            {{ form_row(form.email) }}
                                        </div>
                                        <!-- // end .form-group -->
                                        <div class="form-group">
                                            {{ form_row(form.phone) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_row(form.subject) }}
                                        </div>
                                        <!-- // end .form-group -->
                                        <div class="form-group">
                                            {{ form_row(form.message) }}
                                        </div>
                                        <!-- // end .form-group -->
                                        <button type="submit" class="btn btn-default btn-submit" id="js-contact-btn">SUBMIT</button>
                                        <div id="js-contact-result" data-success-msg="Success, Your message has been sent" data-error-msg="Oops! Something went wrong"></div>
                                        <!-- // end #js-contact-result -->
                                    {{ form_end(form) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="contact-address">
                                    <h3>{{ 'app.location'|trans }}</h3>
                                    <div class="contact-details">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <h6>{{ 'app.adress'|trans }}</h6>
                                        <p> {{ companyData.getCompanyData.name }}
                                            <br> {{ companyData.getCompanyData.street }} {{ companyData.getCompanyData.houseNumber }}
                                            <br> {{ companyData.getCompanyData.plz }} {{ companyData.getCompanyData.city }}</p>
                                    </div>
                                    <br>
                                    <div class="contact-details">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        <h6>{{ 'app.email'|trans }}</h6>
                                        <p>
                                            {{ companyData.getCompanyData.email }}
                                        </p>
                                    </div>
                                    <br>
                                    <div class="contact-details">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <h6>{{ 'app.telepghon'|trans }}</h6>
                                        <p>+{{ companyData.getCompanyData.phoneNumber }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="contact-center">OR</p>
                </div>
            </div>
        </div>
        <!-- Google map will appear here! Edit the Latitude, Longitude and Zoom Level below using data-attr-*  -->
        <div id="map" data-lat="20.674" data-lon="-21.945" data-zoom="12"></div>
    </section>
    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap&key=AIzaSyDMTUkJAmi1ahsx9uCGSgmcSmqDTBF9ygg"></script>

{% endblock %}