<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta charset="utf-8"/>
</head>
<body>
<p><b><u>Sprachschule T.S.L.</u></b></p>
<p><b>des Herrn Lawrence Shalaan, Metzinger Str. 5/1, 73230 Kirchheim u.T.</b></p>
<p><b>Anmeldung:</b></p>
<p>Hiermit melde ich mich zum T.S.L. Online-Sprachkurs an.</p>

<p><b>Bezeichnung des Kurses:</b> {{ course.title }}</p>

<p><b>Beginn des Kurses:</b> {{ course.startsAt | date('d.m.Y') }}</p>

<p><b>Dauer des Kurses:</b> {{ course.endsAt | date('d.m.Y')  }}</p>

<p><b>Sprache:</b> Englisch</p>

<p><b>Name:</b> {{ user.lastName }}</p>

<p><b>Vorname:</b> {{ user.firstName }}</p>

<p><b>Adresse:</b> {{ user.street  }} {{ user.houseNumber }} , {{ user.plz }} {{ user.city }}</p>

<p><b>E-Mail:</b> {{ user.email }}</p>

<p><b>Telefonnummer:</b> {{ user.phoneNumber }}</p>

<p><b>Mobilfunknummer:</b> {{ user.phoneNumber }}</p>



<p><b>Kursgebühr:</b></p>

<p>Die Kursgebühr beträgt {% if certificateData is null  %}{{ course.cost }}{% else %}{{ course.cost + course.certificateFees }}{% endif %},00 EUR. Der Kurs dauert fünf Wochen. In den fünf Wochen finden 3x2 Stunden Onlineunterricht statt. Es handelt sich ausschließlich um Onlineunterricht und nicht um Präsenzunterricht.</p>

<p><b>Fälligkeit:</b></p>

<p>Die Kursgebühr ist vor Kursbeginn zur Zahlung fällig. Auf Antrag kann eine Rate in Höhe von EUR 150,00 vor Kursbeginn, EUR 150,00 nach Abschluss des Kurses bezahlt werden.</p>

<p><b>Ort, Datum:</b> ……………………........................</p>

<p><b>Unterschrift:</b> ……………………………………</p>

<p>Unterrichtsmaterialien stehen im Eigentum der T.S.L Sprachschule Lawrence Shalaan und sind nur für Unterrichtszwecke, nicht zur Weitergabe/Kopieren bestimmt.</p>



<p><b><u>Ermächtigung zum Einzug von Forderungen durch Lastschriften</u></b></p>

<p><b>Zahlungsempfänger:</b></p>

<p>Herr Lawrence Shalaan, Metzinger Straße 5/1, 73230 Kirchheim unter Teck</p>

<p>Hiermit ermächtige ich Sie widerruflich, die von mir zu entrichtenden Zahlungen wegen Teilnahme am Sprachkurs der Sprachschule Lawrence Shalaan, Metzinger Str. 5/1, 73230 Kirchheim unter Teck bei Fälligkeit zu Lasten folgendes Girokontos abzubuchen:</p>

<p><b>Kontoinhaber:</b> {{ user.accountOwner }}</p>

<p><b>Bank/Sparkasse:</b> {{ user.bankName }}</p>

<p><b>IBAN:</b> {{ user.iban }}</p>

<p><b>BIC:</b> {{ user.bic }}</p>

<p><b>Ort, Datum:</b> ……………………........................</p>

<p><b>Unterschrift:</b> ……………………………………</p>

</body>
</html>