{% for message in app.flashes('success') %}
    <div class="flash-message-success">{{ message|raw }}</div>
{% endfor %}

{% for message in app.flashes('notice') %}
    <div class="flash-message-notice">{{ message|raw }}</div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="flash-message-error">{{ message|raw }}</div>
{% endfor %}
