{% extends 'base.html.twig' %}
{% block body %}
    <div class="about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'app.research'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}