{% extends 'base.html.twig' %}
{% block body %}
    <div class="about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'app.courses'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>
<!--============================= Course list =============================-->
<div class="notice">
    <div class="container">
        <div class="row">
            {% for course in courses  %}
            <div class="col-md-12">
                <div class="event_date">
                    <div class="event-date-wrap">
                        {#<p>{{ course.startsAt|date('h') }}</p>#}
                        <span>{{ course.startsAt|date('M') }}.{{ course.startsAt|date('d') }}</span>
                    </div>
                </div>
                <div class="date-description">
                    <h3><a href="{{ path('course_show',{'id':course.id}) }}">{{ course.title }}</a></h3>
                    <p>{{ course.description }}</p>
                    <hr class="event_line">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--//End Course list -->
{% endblock %}