<p>Dear {{ user.firstName }} {{ user.lastName }},</p>
<p></p>
<p>Thank you for registering to {{ course.title }}. Your registration received.</p>
<p></p>
<p>One more step to go then you will be ready to learn with us.</p>
<p>In the attachment you will find the contract.</p>
<p>Kindly we need your signature that you agree to go further with the course registration process and send it back to us as soon as possible</p>
<p></p>
<p>Kind Regards,</p>
<p>Lawrence Shalaan</p>
<p>Metzinger Str. 5/1,</p>
<p>73230 Kirchheim</p>
<p>+4917624086095</p>