{% extends 'base.html.twig' %}
{% block body %}
<div class="about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'course.details'|trans }}</h1>
            </div>
        </div>
    </div>
</div>
    <!--============================= ADMISSION DETAILS COURCES =============================-->
    <section class="admission_cources">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>{{ course.title }}</h2>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-6">
                    <div class="admission_discription">
                        <h4>{{ course.title }}</h4>
                        <!-- // end .star-rating -->
                        <p>{{ course.description }}</p>
                    </div>
                    <div class="admission-pdf">
                        {#<i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>#}
                        {#<p>course details PDF#}
                            {#<br>#}
                            {#<a href="#">DOWNLOAD</a>#}
                        {#</p>#}

                        {% if app.user.hasAllRequiredFieldsFoRegisteration == true   %}
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-warning btn-pdf_join">{{ 'course.joining'|trans }}</a>
                        {% else %}
                            <p> {{ 'app.pfrofile.not.completed'|trans }} <a href="{{ path('user_bank_data') }}">{{ 'app.here'|trans }}</a></p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <ul class="admission_rating">
                        <li class="admission_star-second">{{ 'course.starts'|trans }}<span>:</span></li>
                        <li class="admission_star">{{ course.startsAt|date('d.M.Y') }}</li>
                        <li>Duration<span>:</span></li>
                        {#todo : to change it #}
                        <li class="admission_star">
                            {% set difference = date(course.endsAt).diff(date(course.startsAt)) %}
                            {% set leftDays = difference.days %}
                            {% if leftDays == 1 %}
                                1 day
                            {% else %}
                                {{ leftDays }} days
                            {% endif %}</li>
                        <li class="admission_star-second">{{ 'course.timing'|trans }}<span>:</span></li>
                        <li class="admission_star">{{ course.startingHour|date('H:i') }} - {{ course.finishingHour|date('H:i') }}</li>
                        <li>{{ 'course.fees'|trans }}<span>:</span></li>
                        <li class="admission_star">{{ course.cost }} €</li>
                        <li>{{ 'course.seates'|trans }}<span>:</span></li>
                        <li class="admission_star">{{ course.seats }}</li>
                        <li>{{ 'course.occupied.seats'|trans }}<span>:</span></li>
                        <li class="admission_star">{{ course.bookedSeats }}</li>
                        <li>{{ 'app.certificateFees'|trans }}<span>:</span></li>
                        <li class="admission_star">{{ course.certificateFees }} ({{ 'app.optional'|trans }})</li>
                        <li>{{ 'app.status'|trans }}<span>:</span></li>
                        {% set courseStatus =  'course.'~course.status %}
                        <li class="admission_star">{{ courseStatus |trans }}</li>
                    </ul>
                    <div class="admission_insruction">
                        <h4>{{ 'course.Instructor'|trans }}</h4>
                        {% if course.teacher.image is not null %}
                        <img src="{{ asset('uploads/images/profile/'~course.teacher.image) }}" class="img-fluid" alt="#">
                        {% else %}
                            <img src="{{asset("uploads/images/profile/download.jpeg")}}" class="img-fluid about-img" alt="#">
                        {% endif %}
                        <p>{{ course.teacher.firstName }} {{ course.teacher.lastName }}
                            <br>
                            <span>{% for syllabu in  course.teacher.syllabus  %} {{ syllabu }} {% endfor %}</span></p>
                    </div>
                    {#<div class="admission_share-icon">#}
                        {#<h4>Share Course</h4>#}
                        {#<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>#}
                        {#<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>#}
                        {#<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>#}
                        {#<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </section>
    <!--//END ADMISSION DETAILS COURCES -->

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{ 'app.registeration.apply'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <p>
                    {{ 'course.registration.modal.message'|trans  }}
                </p>
                <form  action="{{ path('course_register',{'courseId':course.id}) }}" method="post">

                        <input type="checkbox" name="certificate" value="true"> {{ 'form.with.certificate'|trans }}</input>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">{{ 'course.apply'|trans }}</button>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}