 {% extends 'base.html.twig' %}
 {% block body %}
<div class="about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'user.bank.data'|trans }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="login sign-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-5 well well-sm">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-xs-6 col-md-12">
                        <div class="form-group">
                            {{ form_row(form.accountOwner) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-12">
                        <div class="form-group">
                            {{ form_row(form.bankName) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-12">
                        <div class="form-group">
                            {{ form_row(form.iban) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-12">
                        <div class="form-group">
                            {{ form_row(form.bic) }}
                        </div>
                    </div>
                </div>

                <br/>
                <br/>
                <input type="submit" class="btn btn-warning" value="{{ 'profile.edit.submit'|trans }}"
                       id="js-subscribe-btn" formnovalidate/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
 {% endblock body %}
