{% extends 'base.html.twig' %}
 {% block body %}
     <div class="about_bg">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <h1>{{ 'user.teacher.data'|trans }}</h1>
                 </div>
             </div>
         </div>
     </div>
     <div class="login sign-up">
         <div class="container">
             <div class="row justify-content-center">
                 <div class="col-xs-12 col-sm-12 col-md-5 well well-sm">
                     {{ form_start(form) }}
                     <div class="row">
                         <div class="col-xs-6 col-md-12">
                             <div class="form-group">
                                 {{ form_row(form.facebook) }}
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-xs-6 col-md-12">
                             <div class="form-group">
                                 {{ form_row(form.twitter) }}
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-xs-6 col-md-12">
                             <div class="form-group">
                                 {{ form_row(form.linkedIn) }}
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-xs-6 col-md-12">
                             <div class="form-group">
                                 <button type="button"
                                         class="add-another-collection-widget btn btn-warning btn-1 bnt-border_1"
                                         data-list="#certificate-fields-list">Add  certificate</button>
                                 <br>
                                 <br>

                                 <ul id="certificate-fields-list" class="tags list-unstyled"
                                     data-prototype="{{ form_widget(form.certificates.vars.prototype)|e }}"
                                     data-widget-tags="{{ '<li></li>'|e }}">
                                     {% for certificateField in form.certificates %}
                                         <li>
                                             {{ form_errors(certificateField) }}
                                             {{ form_widget(certificateField) }}
                                         </li>
                                     {% endfor %}

                                 </ul>
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-xs-6 col-md-12">
                             <div class="form-group">
                                 <button type="button"
                                         class="add-another-collection-widget btn btn-warning btn-1 bnt-border_1"
                                         data-list="#syllabu-fields-list">Add  syllabu</button>
                                 <br>
                                 <br>
                                 <div>
                                     <ul id="syllabu-fields-list" class="tags list-unstyled"
                                         data-prototype="{{ form_widget(form.syllabus.vars.prototype)|e }}"
                                         data-widget-tags="{{ '<li></li>'|e }}">
                                         {% for syllabuField in form.syllabus %}
                                             <li>
                                                 {{ form_errors(syllabuField) }}
                                                 {{ form_widget(syllabuField) }}
                                             </li>
                                         {% endfor %}
                                     </ul>
                             </div>
                         </div>
                     </div>
                     </div>
                     <br/>
                     <br/>
                     <input type="submit" class="btn btn-warning" value="{{ 'profile.edit.submit'|trans }}"
                            id="js-subscribe-btn" formnovalidate/>
                     {{ form_end(form) }}
                 </div>
             </div>
         </div>
     </div>

<script>
    jQuery(document).ready(function () {
        jQuery('.add-another-collection-widget').click(function (e) {
            var list = jQuery(jQuery(this).attr('data-list'));
            // Try to find the counter of the list
            var counter = list.data('widget-counter') | list.children().length;
            // If the counter does not exist, use the length of the list
            if (!counter) { counter = list.children().length; }

            // grab the prototype template
            var newWidget = list.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, counter);
            // Increase the counter
            counter++;
            // And store it, the length cannot be used if deleting widgets is allowed
            list.data(' widget-counter', counter);

            // create a new list element and add it to the list
            var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
            newElem.appendTo(list);
        });
    });

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('ul.tags');

        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('li').each(function() {
            addTagFormDeleteLink($(this));
        });

        // ... the rest of the block from above
    });

    function addTagForm() {
        // ...

        // add a delete link to the new form
        addTagFormDeleteLink($newFormLi);
    }

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormButton = $('<i class="fa fa-times" aria-hidden="true"></i>');
        $tagFormLi.append($removeFormButton);

        $removeFormButton.on('click', function(e) {
            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }
</script>
 {% endblock body %}
